name: Test action

on:
  push:
    branches:
      - main

jobs:
  build_rc:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build test fap
      uses: oleksiikutuzov/flipperzero-ufbt-action@main
      with:
        fap-dir: test
        channel: rc
        
  lint_dev:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build test fap
      uses: oleksiikutuzov/flipperzero-ufbt-action@main
      with:
        fap-dir: test
        lint: true
